/**
 * Created by asus on 2018/8/6.
 */

/*.tran {*/
    /*transform: matrix3d(1.09932, 0.03838, 0, 0, -0.03838, 1.09932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);*/
    /*visibility: inherit;*/
    /*opacity: 1;*/
    /*transform-style: preserve-3d;*/
    /*transform-origin: 50% 50% 0px;*/
/*}*/
/*.trans {*/
    /*transform: translate3d(0px, 0px, 0px);*/
    /*visibility: inherit;*/
    /*opacity: 1;*/
    /*transform-style: flat;*/
/*}*/

@keyframes wobble {
    0% {
        transform: matrix3d(1.09932, 0.03838, 0, 0, -0.03838, 1.09932, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        visibility: inherit;
        opacity: 1;
        transform-style: preserve-3d;
        transform-origin: 50% 50% 0px;
    }
    40% {
        transform: matrix3d(1.0861, 0.03284, 0, 0, -0.03284, 1.0861, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        visibility: inherit;
        opacity: 1;
        transform-style: preserve-3d;
        transform-origin: 50% 50% 0px;
    }
    60% {
    transform: matrix3d(1.03655, 0.01325, 0, 0, -0.01325, 1.03655, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    visibility: inherit;
    opacity: 1;
    transform-style: preserve-3d;
    transform-origin: 50% 50% 0px;
    }
    80% {
        transform: matrix3d(1.03655, 0.01325, 0, 0, -0.01325, 1.03655, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        visibility: inherit;
        opacity: 1;
        transform-style: preserve-3d;
        transform-origin: 50% 50% 0px;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
        visibility: inherit;
        opacity: 1;
        transform-style: flat;
    }
}
.trans {
    position: relative;
    left: 0;
    animation: wobble 500ms ease  alternate forwards;
}
